/* adding basic css to exp01 */

body{
    background-color: #E9EBC8;
}
p{
    font-family: "Times New Roman", "Courier New", monospace;
    background-color: rgb(255, 242, 223);
}
th {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
  }

h2{
font-style:italic ;
}